{% extends 'base.html' %}

{% block content %}

<form action="/pets/{{pet.id}}" method="post">

    <div>
        <label for="name">Pet Name:</label>
        <input type="text" id="name" name="name" placeholder="Name" value = "{{pet.name}}"" required autofocus>
      </div>
    
      <div>
        <label for="date_of_birth">Date of Birth (dd/mm/yyyy):</label>
        <input type="text" id="date_of_birth" name="date_of_birth" placeholder="date_of_birth" value = "{{pet.date_of_birth}}"required autofocus>
      </div>
    
      <div>
        <label for="type_of_animal">Type of Animal:</label>
        <input type="text" id="type_of_animal" name="type_of_animal" placeholder="type_of_animal" value = "{{pet.type_of_animal}}"required>
      </div>

      <!-- <div>
        <label for="owner_id_contact_number">Owner Contact Number:</label>
        <input type="text" id="owner_id_contact_number" name="owner_id_contact_number" placeholder="owner_id_contact_number" value = "{{pet.owner.contact_number}}"required>
      </div>
     -->
      <button type="submit">Update Pet Details</button>


</form>

{% endblock %}