{% extends 'base.html' %}

{% block content %}
<h1>List of Current Pets</h1>

<ul>
    {% for pet in pets  %}
    <li><a href="/pets/{{ pet.id }}"> {{pet.name}}  </a></li>
    </form>
    {% endfor %}
</ul>

<!-- <table>
  <tr>
    <th>Name</th>
  
  </tr>
  {% for pet in pets %}
  <tr>
    <td><a href="/pets/{{ pet.id }}"> {{pet.name}} </a></td>
  </tr>
  {% endfor %} -->
<!-- </table> -->



<!-- <h2>List of Veterinary Practitioners</h2>
<ul>
  {% for vet in vets  %}
  <li><a href="/pets/{{ vet.id }}"> {{vet.name}}  </a></li>
  </form>
  {% endfor %}
</ul> -->
{% endblock %}