{% extends "base.html" %}
{% block content %}

<form action="/pets" method="post">

  <div>
    <label for="name">Pet Name:</label>
    <input type="text" id="name" name="name" placeholder="Name" required autofocus>
  </div>

  <div>
    <label for="date_of_birth">Date of Birth (dd/mm/yyyy):</label>
    <input type="text" id="date_of_birth" name="date_of_birth" placeholder="date_of_birth" required autofocus>
  </div>

  <div>
    <label for="type_of_animal">Type of Animal:</label>
    <input type="text" id="type_of_animal" name="type_of_animal" placeholder="type_of_animal" required>
  </div>

  <div>
    <label for="medical_history">New Medical Notes: </label>
    <input type="text" id="medical_history" name="medical_history" placeholder="medical_history" >
  </div>



  <div>
  {# SELECT #}
  {# FOR LOOP OWNER IN OWNERS #}
    <label for="owner-select">Choose an owner:</label>
    <select name="owner_id" id="owner_id">
    {% for owner in owners %}
        <option  value="{{owner.id}}">{{owner.name}}</option>
    {% endfor %}
   </select>
  </div>

  <div>
  {# SELECT #}
  {# FOR LOOP OWNER IN OWNERS #}
    <label for="vet-select">Assign a Vet:</label>
    <select name="vet_id" id="vet_id">
    {% for vet in vets %}
        <option  value="{{vet.id}}">{{vet.name}}</option>
    {% endfor %}
   </select>
  </div>

    <button type="submit">Add Pet</button>


  
    
</form>

{% endblock %}
