{% extends "base.html" %}
{% block content %}

<h2>Animal Details</h2>

<div>
    <p> <b> Animal Name: </b>{{pet.name}}</p>
    <p> <b> Date of Birth: </b> {{pet.date_of_birth}}</p>
    <p> <b> Animal Type: </b> {{pet.type_of_animal}}</p>
    <p> <b> Owner Name: </b> {{pet.owner.name}}</p>
    <p> <b> Owner Contact Number: </b> {{pet.owner.contact_number}}</p>
    <p> <b> Assigned Vet: </b> {{pet.vet.name}}</p>
    <p> <b> Medical History: </b> {{pet.medical_history}}</p>
    <p><a href="/pets/{{pet.id}}/edit">Edit Pet Details</a></p>
</div>

<form action="/pets/{{pet.id}}/delete" method="POST">
    <input class="btn btn--danger" type="submit" value="delete" />  
</form>
{% endblock %}