{% extends "base.html" %}
{% block content %}

<div>
    <p>Name: {{pet.name}}</p>
    <p>Date of Birth: {{pet.date_of_birth}}</p>
    <p>Animal Type: {{pet.type_of_animal}}</p>
    <p>Contact Details of Owner: {{pet.owner.contact_number}}</p>
    <p>Assigned Vet: {{pet.vet.name}}</p>
    <p>Medical History: {{pet.medical_history}}</p>
    <p><a href="/pets/{{pet.id}}/edit">Edit Pet Details</a></p>
</div>

<form action="/pets/{{pet.id}}/delete" method="POST">
    <input class="btn btn--danger" type="submit" value="delete" />  
</form>
{% endblock %}