{% extends 'base.html'%}

{% block content %}
<h1>Healthy Pets 4 Life</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem ex optio possimus, qui animi est illo! Tempore magnam dolorum aut vel, repellendus quam error cupiditate, similique repellat, laudantium libero a! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente cum quos tempora deserunt eius dicta deleniti unde soluta! Magnam at ipsum ipsa a! Fugit enim libero sint? Quaerat, aperiam itaque?</p>
{% endblock %}