{% extends 'base.html'%}

{% block content %}
<h2>How To Navigate</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem ex optio possimus, qui animi est illo! Tempore magnam dolorum aut vel, repellendus quam error cupiditate, similique repellat, laudantium libero a! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente cum quos tempora deserunt eius dicta deleniti unde soluta! Magnam at ipsum ipsa a! Fugit enim libero sint? Quaerat, aperiam itaque?</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi harum est amet, molestias eveniet eos. Iste ipsam, inventore hic aliquid non aperiam amet voluptatem debitis. Nulla cupiditate optio incidunt animi?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, suscipit! Officiis pariatur provident esse, architecto corrupti, alias ea officia eaque, assumenda iusto tenetur. Maiores amet quod, iure expedita velit nam.</p>
{% endblock %}